.about-page {
  padding: 20px;
  background-color: #f9f9f9;
  text-align: center;
}

.about-page h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.about-page p {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #333;
}
